header {
    background-color: #a71c54;
    padding: 10px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

nav a:hover {
    background-color: #432828;
    border-radius: 4px;
}
