/* src/App.css */
.container {
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
  color: #333;
}

h3 {
  font-size: 18px;
  color: #ff0066;
  margin: 10px 0 5px;
}

p {
  font-size: 14px;
  color: #666;
}
